{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container mt-4">
        <h2><span style="color: #f5f5dc; ">Профиль пользователя</span></h2>
        {% if profile %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span style="color: #f5f5dc; "> {{ form.as_p }} </span>
                <img id="avatar-preview" src="{% if profile.avatar %}{{ profile.avatar.url }}{% else %}{% static 'avatars/empty_avatar.png' %}{% endif %}" alt="Avatar Preview" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        {% else %}
            <p><span style="color: #f5f5dc; ">Для завершения регистрации, пожалуйста, введите ваши данные</span></p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <img id="avatar-preview" src="{% static 'avatars/empty_avatar.png' %}" alt="Avatar Preview" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        {% endif %}
    </div>

    <script>
        function previewImage(input) {
            var preview = document.getElementById('avatar-preview');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "{% static 'avatars/empty_avatar.png' %}";
            }
        }
    </script>
{% endblock %}